/* .modal-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0, .2);
}

.modal-wrapper.open {
  height: 100%;
  display: block;
}

.modal-wrapper.close {
  height: 0%;
  display: none;
} */

.overlay-base {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px); */
}

.overlay-after {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.content-base {
  position: relative;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0%;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.content-after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
}

.content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}

.modal-body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.modal-close-icon {
  width: 2vw;
  height: 2vw;
  grid-column-start: 11;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 2;  
}