@font-face {
  font-family: 'HelveticaLTS';
  src: url('../../Fonts/Helvetica/HelveticaNeueLTStd-Th.otf');
}

.mainWrapper {
  margin: 5vw 0vw;
}

.generalTitleWrapper {
  width: 70%;
}

.generalTitle {
  font-family: 'HelveticaLTS';
  font-size: 3vw;
  font-weight: 700;
}

.titleFirstSpan {
  color: #8CBF80;
}

.titleSecondSpan {
  text-decoration: none;
  border-bottom: 1px #111111 solid
}

.mainPic {
  left: 5%;
  position: absolute;
  display: block;
  width: 100%;
  height: 40vw;
  background: url('./images/joakim-aglo-mNKG-e9A4rI-unsplash\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.arrowIntoSquare {
  position: absolute;
  display: block;
  background: url('./images/Group\ 4456.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: -7%;
  right: 20%;
  width: 6vw;
  height: 6vw;
}

.picIntoMain {
  position: absolute;
  display: block;
  background: url('./images/luke-van-zyl-koH7IVuwRLw-unsplash\ 1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25vw;
  right: 0;
  height: 25vw;
  top: 65%;
}

@media (max-width: 480px) {
  .generalTitleWrapper {
    width: 100%;
    margin: 0vw 4vw;
  }
  .generalTitle {
    font-size: 8vw;
  }

  .mainPic {
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 70vw;
    background-size: cover;
  }

  .mainWrapper article:last-child {
    margin-top: 35vw;
  }

  .arrowIntoSquare {
    top: -20vw;
    left: 0;
    width: 20vw;
    height: 20vw;
  }

  .picIntoMain {
    top: 75%;
    right: -4vw;
    width: 30vw;
    height: 30vw;
  }
}